@font-face
{
   font-family: "Rhinos"; 
   src:  url("../public/fonts/Rhinos.ttf") format("truetype") ;
}
.logotxt
{
   font-family: "Rhinos";
   color: red;
}

body {
   
    background-color: #212529 !important;
    }
a.nounderline:link { text-decoration:none !important; }
a:link {color:red;}
a:visited {color:red;}
a:active {color:red;}
a:hover {color:red;}

.graybackground
{
	background-color: #f5f5f5 !important;
}

header[role=banner] {
    background: #fff;
    border-bottom: 4px solid #ff0000;
    padding: 19px 0;
    overflow: hidden;
}
 
 header figure {
		border: 3px solid #eee;
		border-radius: 78px;
		float: right;
		height: 156px;
		width: 156px;
	}
	
header figure img {
		border-radius: 75px;
		height: 150px;
		position: relative;
		width: 150px;
	}
	
header hgroup {
		float: left;
		padding: 42px 0;
	}
	
header hgroup h1 {
		color:#555;
		font-family:'DroidSansBold', Arial, sans-serif;
	}
	
header hgroup h2 {
		color:#cecece;
		font-style: italic;
		text-shadow: 1px 1px 0 rgba(0,0,0,.3);
	}

	 .barres li {
		margin-bottom: 21px;
		position: relative;
	}
	.barres li:after {
		background: #e1e1e1;
		bottom: -4px;
		content: ' ';
		display: block;
		height: 5px;
		position: absolute;
		width:100%;
	}
	.barres li span {
		background: #33a4c9;
		bottom: -4px;
		content: ' ';
		display: block;
		height: 5px;
		left: 0;
		position: absolute;
		width: inherit;
		z-index: 1;
	}

	.competences h3:after {
			background-position: 11px -34px;
		}
	
	.experiences h3:after {
			background-position: 11px -86px;
		}
		
	.formations h3:after {
			background-position: 10px -139px;
		}
		
	 .loisirs h3:after {
			background-position: 10px -250px;
		}
		
	 .contact h3:after {
			background-position: 11px -194px;
		}

		xperiences ul, .formations ul {
		margin-left: 60px;
	}
	 
	 h4 strong {
		color: #147393;
		font-weight: normal;
	}
	
	.experiences li, .formations li {
		margin-bottom: 63px;
	}
	
	.experiences li:last-child, .formations li:last-child {
		margin-bottom: 21px;
	}
	
	.experiences li p, .formations li p {
		margin-left: 30px;
	}

	.lieu, .dates, .phone, .mail, .site, .form, .twitter, .facebook, .dribbble, .skype {
		 
		padding-left: 25px;
		margin: 0 10px 1px 10px;
	}
	
	.lieu {
		background-position: 0 -2px;
		color: #999;
	}
	
	.dates {
		background-position: 0 -22px;
		color: #999;
	}
	
	.phone {
		background-position: 0 -40px;
	}
	
	.mail {
		background-position: 0 -58px;
	}
	
	.site {
		background-position: 0 -80px;
	}
	
	.form {
		background-position: 0 -100px;
	}
	
	.twitter {
		background-position: 0 -122px;
	}
	
	.facebook {
		background-position: 0 -140px;
	}
	
	.dribbble {
		background-position: 0 -160px;
	}
	
	.skype {
		background-position: 0 -180px;
	}

	
.Contact a.nounderline:link { text-decoration:none !important; }
.Contact a:link {color:#147393;}
.Contact a:visited {color:#147393;}
.Contact a:active {color:#147393;}
.Contact a:hover {color:#147393;}